<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo App</title>
</head>
<body>
<a href="https://app-eu1.hubspot.com/oauth/authorize?client_id=de3c4e61-cc4c-4373-b295-70b44b10c575&redirect_uri=https://0ef0-95-90-237-28.ngrok.io/oauth2/callback/hubspot&scope=crm.objects.contacts.read%20settings.users.read%20crm.objects.companies.read%20crm.objects.deals.read%20crm.schemas.deals.read%20crm.objects.owners.read%20settings.users.teams.read">
  Connect Hubspot
</a>
</body>
</html>
